.main-bg {
  background-image: url('https://raw.githubusercontent.com/Joao-Victor-BigDev/Portifolio/2adad6cef0b6c074e633e7c59b85e1e3a09eddc4/assets/img/main-background.svg');
  background-position: center center;
  background-size: auto;
  color: var(--white-color);
}

.black-bg {
  background-color: var(--black-trans);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

.white-bg {
  background-color: var(--white-color);
  color: var(--black-color);
}

.main-content {
  max-width: 128rem;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

/* .spacing {
  height: 100px;
} */

.menu-spacing {
  height: 12rem;
  background-color: rgba(0, 0, 255, 0);
}

