:root {
  --primary-color: #0A1128;
  --black-trans: #000000f8;
  --white-color: #f4f4f4;
  --gap: 3rem;
  --black-color: #000000;
  --crismson-color: rgba(220, 20, 60, 0.39);
  --white-trans: rgba(255, 255, 255, 0.863);
}